* {
    main-bg:            #2A183BE6;
    main-fg:            #BF91B3;
    main-br:            #6E5B94;
    main-ex:            #2A282D;
    select-bg:          #3B3053;
    select-fg:          #D5E7C4;
}
